@font-face{
	font-family: OpenSans;
    src: url(../font/OpenSans-Regular.ttf);
}

@font-face{
	font-family: Montserrat;
    src: url(../font/Montserrat-Regular.ttf);
}

.navbar{
	height: 150px;
}

.contacts{
	background-color: #576169;
}

.logo{
	width: 150px;
	height: 100px;
}

.fa.fa-facebook, .fa.fa-linkedin, .fa.fa-twitter{
	color: white; 
	margin-right: 2%;
}

.fa.fa-envelope{
	color: white;
	margin-right: 5%;
}

.socialmedia{
	margin-left: 70%;
}

#memberslogin{
	font-size: 12px;
	width: 120px;
}

#joinfarm{
	font-size: 12px;
	margin-left: 5px;
	width: 100px;
}

.btn.btn-primary.btn-sm{
	background-color: #009e00;
	border-color: #009e00;
	font-family: OpenSans;
}

.btn.btn-primary.btn-sm:hover{
	background-color: #007500;
	border-color: #007500;
	font-family: OpenSans;
}

.loginbuttons{
	position: relative;
	left: 61%;
}

.nav.justify-content-end{
	margin-right: 23%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.nav-item{
	position: relative;
	margin-top: 5%;
	left: 130px;
	top: 10px;
	font-family: Montserrat;
	font-weight: 600;
}

.welcome{
	position: relative;
    text-align: center;
    color: white;
}

.d-block.w-100{
	height: 400px;
}

.welcomedesc{
	position: absolute;
	top: 10%;
    margin-left: 15%;
}

.welcometext{
	font-size: 30px;
	color: #000;
	font-weight: 600;
	text-align: left;
	font-family: Montserrat;
}

.welcomesummary{
	font-size: 14px;
	color: #000;
	text-align: left;
	font-family: OpenSans;
}

#findafarm{
	font-size: 16px;
	width: 200px;
}

#joinafarm{
	font-size: 16px;
	width: 200px;
}

.btn.btn-primary.btn-lg{
	background-color: #009e00;
	border-color: #009e00;
	font-family: OpenSans;
}

.btn.btn-primary.btn-lg:hover{
	background-color: #007500;
	border-color: #007500;
	font-family: OpenSans;
}

.nav-link{
	font-size: 12px;
	color: #000000;
}

.description{
	margin-left: 15%;
	margin-bottom: 5%;
	height: 220px;
	font-size: 14px;
}

.desc{
	font-family: OpenSans;
}

.descheader{
	margin-top: 5%;
	color: #019600;
	font-family: Montserrat;
	font-weight: 600;
}

.findafarmform{
	position: relative;
	left: 59%;
	border-radius: 25px;
    border: 0.5px solid #000000;
	background: #FFF;
    padding: 20px; 
    width: 300px;
    height: 320px; 
	margin-top: -30%;
	
}

.formheader{
	font-family: Montserrat;
	text-align: center;
	font-weight: 600;
	font-size: 20px;
	margin-top: 3%;
}

#specialty, #area{
	margin-bottom: 6%;
	margin-left: 5%;
	width: 90%;
	font-family: OpenSans;
}

#location{
	margin-bottom: 11%;
	margin-left: 5%;
	width: 90%;
	font-family: OpenSans;
}

.btn.btn-primary.btn-lg.search{
	font-size: 12px;
	margin-left: 5%;
	width: 100px;
	font-family: OpenSans;
}

.d-block.w-100.banner{
	opacity: 0.3;
    filter: alpha(opacity=30);
	height: 400px;
}

.upcomingevents{
	background-image: url("../Images/shutterstock_711194044.jpg");
    background-repeat: no-repeat;
    background-position: center; 
	background-size:cover;
    position: relative;
	height: 525px;
}

.no-gutters.one{
	position: relative;
	margin-left: 15%;
	top: 32%;
	width: 500px;
}

.no-gutters.two{
	position: relative;
	float: right;
	top: 2%;
	width: 500px;
	margin-right: 15%;
}

.col{
    background-color: #ffffff;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.col p{
    font-weight: bold;
    color: #000000;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}

.subscription{
	background-color: #000;
	height: 138px;
	margin-top: 15%;
	opacity: 0.7;
    filter: alpha(opacity=70);
}

#readmore{
	font-size: 16px;
	width: 150px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.eventdesc{
	font-size: 12px;
	font-family: OpenSans;
}

.event{
	margin-left: 15%;
}

.eventsheader{
	position: absolute;
	margin-top: 5%;
	color: #019600;
	margin-left: 15%;
	font-family: Montserrat;
	font-weight: 600;
}

.subinfo{
	position: relative;
	top: 15%;
	margin-left: 15%;
	margin-right: 15%;
}

.subdesc{
	color: #fff;
	margin-top: 5%;
	font-family: Montserrat;
	font-weight: 500;
}

.subscribe{
	background-color: #000;
}

.form-control{
	width: 300px;
	font-family: OpenSans;
	margin-right: 5%;
}

#subscribebutton{
	font-family: Montserrat;
	font-weight: 300;
	font-size: 14px;
	color: #000000;
}

.btn.btn-primary.btn-lg.subscribe{
	background-color: #fff;
	border-color: #fff;
}

.btn.btn-primary.btn-lg.subscribe:hover{
	background-color: #ececec;
	border-color: #ececec;
}

.footer{
	height: 150px;
	background-color: #fff;
	margin-left: 15%;
	margin-top: 3%;
}

.address{
	margin-left: 5%;
	width: 170px;
	font-family: OpenSans;
	font-size: 12px;
}

.bottomlinks{
	width: 350px;
	margin-left: 10%;
	font-family: OpenSans;
	font-size: 12px;
}

.fa.fa-facebook.bl, .fa.fa-linkedin.bl, .fa.fa-twitter.bl{
	color: black; 
	margin-right: 20%;
}

.fa.fa-envelope.bl{
	color: black;
	margin-right: 5%;
}

.form-check.form-check-inline.medialinks{
	position: relative;
	left: 30%;
}

.designedby{
	font-size: 10px;
	font-family: Montserrat;
	width: 150px;
	margin-top: 6%;
	position: relative;
	left: 24%;
}

a{
	color: #000000;
}
